<section class="menu">
  <div class="row">
    <div class="col-12">
      <h2 class="section-title">I Nostri Piatti</h2>
      <div class="separator"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 pt-5 pb-2">
      <h3>Antipasti</h3>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img
          src="/assets/images/tagliere-salumi.jpg"
          class="card-img-top"
          alt="Tagliere salumi"
        />
        <div class="card-body">
          <h5 class="card-title">Tagliere di Salumi - 12€</h5>
          <p class="card-text">
            Un assortimento di salumi regionali ed extraregionali.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img
          src="/assets/images/antipasto-mare.jpg"
          class="card-img-top"
          alt="Tagliere salumi"
        />
        <div class="card-body">
          <h5 class="card-title">Antipasto di Mare - 15€</h5>
          <p class="card-text">
            Una selezione di antipasti tradizionali a base di pesce.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <div class="card-image">
          <img
            src="/assets/images/zuppa-mare.jpg"
            class="card-img-top"
            alt="Zuppa di Mare"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Zuppa di Mare - 10€</h5>
          <p class="card-text">
            Zuppa di cozze e arselle su crostini piccanti.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5 pb-2">
    <div class="col-12">
      <h3>Primi</h3>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img
          src="/assets/images/carbonara.jpg"
          class="card-img-top"
          alt="Carbonara"
        />
        <div class="card-body">
          <h5 class="card-title">Carbonara - 9€</h5>
          <p class="card-text">
            Un classico intramontabile della cucina romana.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img
          src="/assets/images/cacio-pepe.jpg"
          class="card-img-top"
          alt="Cacio e Pepe"
        />
        <div class="card-body">
          <h5 class="card-title">Cacio e Pepe - 8€</h5>
          <p class="card-text">Pepe nero, formaggio pecorino romano e pasta.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img
          src="/assets/images/amatriciana.jpg"
          class="card-img-top"
          alt="Amatriciana"
        />
        <div class="card-body">
          <h5 class="card-title">Amatriciana - 7€</h5>
          <p class="card-text">
            Piatto tipico di Amatrice, cittadina in provincia di Rieti.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img
          src="/assets/images/risotto-funghi.jpg"
          class="card-img-top"
          alt="Risotto ai funghi"
        />
        <div class="card-body">
          <h5 class="card-title">Risotto ai Funghi - 10€</h5>
          <p class="card-text">
            Un piatto invernale, solo con porcini regionali raccolti a mano.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img
          src="/assets/images/fregola-arselle.jpg"
          class="card-img-top"
          alt="Fregola con Arselle"
        />
        <div class="card-body">
          <h5 class="card-title">Fregola con Arselle - 15€</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5 pb-2">
    <div class="col-12">
      <h3>Pizze</h3>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img src="/assets/images/pizza.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">
            <a href="pages/diego-fois/pizza-diego.html">Pizza Diego</a> - 10€
          </h5>
          <p class="card-text">Una pizza lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img src="/assets/images/pizza.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">
            <a href="pages/francesco-baire/IndexFB.html">Pizza Francesco</a>
            - 10€
          </h5>
          <p class="card-text">Una pizza lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img src="/assets/images/pizza.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">
            <a href="pages/leonardo-pinna/">Pizza Leonardo</a>
            - 10€
          </h5>
          <p class="card-text">Una pizza lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img src="/assets/images/pizza.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">
            <a href="pages/massimiliano-sulas/massimiliano-sulas.html"
              >Pizza Massi S</a
            >
            - 10€
          </h5>
          <p class="card-text">Una pizza lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img src="/assets/images/pizza.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">
            <a href="pages/massimiliano_cadeddu/">Pizza Massi C</a>
            - 10€
          </h5>
          <p class="card-text">Una pizza lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img src="/assets/images/pizza.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">
            <a href="pages/matteo-zucca/">Pizza Matteo</a> - 10€
          </h5>
          <p class="card-text">Una pizza lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img src="/assets/images/pizza.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">
            <a href="pages/nico-fini/">Pizza Nico</a> - 10€
          </h5>
          <p class="card-text">Una pizza lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img src="/assets/images/pizza.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">
            <a href="pages/nicola-macis/nicola.html">Pizza Nicola</a> - 10€
          </h5>
          <p class="card-text">Una pizza lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img src="/assets/images/pizza.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">
            <a href="pages/riccardo-soro/riccardo.html">Pizza Riccardo</a>
            - 10€
          </h5>
          <p class="card-text">Una pizza lorem ipsum</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img src="/assets/images/pizza.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">
            <a href="pages/stefano-masala/stefano-masala.html">Pizza Stefano</a>
            - 10€
          </h5>
          <p class="card-text">Una pizza lorem ipsum</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 pt-5 pb-2">
      <h3>Dolci</h3>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img src="/assets/images/seadas.jpg" class="card-img-top" alt="Seadas" />
        <div class="card-body">
          <h5 class="card-title">Seadas - 6€</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img
          src="/assets/images/cheesecake.jpg"
          class="card-img-top"
          alt="Cheesecake"
        />
        <div class="card-body">
          <h5 class="card-title">Cheesecake - 5€</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 py-2">
      <div class="card shadow">
        <img
          src="/assets/images/tiramisu.jpg"
          class="card-img-top"
          alt="Tagliere salumi"
        />
        <div class="card-body">
          <h5 class="card-title">Tiramisù - 6€</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
