footer {
  background-color: #8c2703;
  color: white;

  table {
    border: 1px solid lightgray;
    width: 80%;
  }

  table td,
  table th {
    padding: 4px;
    text-align: left;
  }

  table th {
    background-color: white;
    color: #8c2703;
  }
}
